# Logs
logs
*.log
npm-debug.log*

# Dependency directories
client/node_modules
client/dist
client/dist-ssr
client/*.local

server/node_modules
server/dist
server/dist-ssr
server/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Local environment files
.env
