// Footer.scss

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #222;
  color: #fff;
  flex-wrap: wrap;

  .footer__section {
    flex: 1 1 10%;
    margin: 1rem;
    min-width: 200px;
    box-sizing: border-box;

    h4 {
      margin-bottom: 0.5rem;
      color: #f0f0f0;
    }

    a {
      color: white;
      text-decoration: none;
      margin-right: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.3rem 0;

        a {
          color: #ccc;
          text-decoration: none;

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }

    p {
      margin: 0.3rem 0;
    }
  }

  .footer__socials {
    width: auto;
    height: 1.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .footer__section {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  .footer__certif {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      height: 10rem;
      width: auto;
    }
  }

  .footer__legal {
    padding-left: 12%;
  }
}
